.text1 {
  color: Chocolate;
  text-align: left;
  padding: 5px 0px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
}
input[type=text] {
  height:20px;
  width: 100%;
  padding: 20px 0px;
  display: inline-block;
  border: 2px solid DarkOrange;
  border-radius: 6px;
  box-sizing: border-box;
}
select {
  height: 80px;
}
