.text1 {
  color: DarkOrange;
  text-align: left;
  padding: 5px 0px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tr:nth-child(even) {
  background-color: LightSkyBlue;
}
td, th{
  padding: 8px 10px;
  color: Navy;
  text-align: left;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
th {
  text-align: left;
  color: DarkOrange;
}
input[type=text], select {
  height: 20px;
  width: 330px;
  padding: 20px 5px;
  display: inline-block;
  border: 2px solid DarkOrange;
  border-radius: 6px;
  box-sizing: border-box;
  color: Black;
  font-size: 20px;
  background-color: white;
  margin: 2px;
}
select {
  height: 44px;
}
input[type=button]{
  width: 330px;
  background-color: DarkOrange;
  padding: 7px 5px 8px;
  margin: 2px;
  color: white;
  font-size: 20px;
  border: 2px solid DarkOrange;
}
.blink {
  color: DarkOrange;
  animation: blink 2s linear infinite;
}
@keyframes blink {
  50% {
    opacity: 0.25;
  }
  0%, 20%, 80%, 100% {
    opacity: 1;
  }
}
